BRITISH AIRWAYS ANALYSIS
---

In [4]:
#import packages

import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.display.float_format = '{:.5f}'.format 
np.set_printoptions(suppress=True, precision=5)

In [5]:
base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
pages = 20
page_size = 100

reviews = []
rating =[]
date =[]
country = []

for i in range(1, pages+1):
    print(f"Scraping page {i}")

    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"

    # Collect HTML data f
    response = requests.get(url)

    # Parse content
    content1 = response.content
    contents = BeautifulSoup(content1, 'html.parser')
    for item in contents.find_all("div", {"class": "text_content"}):
        reviews.append(item.get_text())
        #(try:
        #   rating.append(item.span.text)
        #except:
            #print(f'Error on page {i}')
            #rating.append("None")
    
    for item in contents.find_all('div', class_ = 'rating-10'):
            rating.append(item.span.text)

    for item in contents.find_all('time'):
        date.append(item.text)
    
    for item in contents.find_all('h3'):
        country.append(item.span.next_sibling.text.strip(" ()"))

    print(f"   ---> {len(reviews)} +{len(rating)} + {len(date)} + {len(country)} total")

Scraping page 1
   ---> 100 +101 + 100 + 100 total
Scraping page 2
   ---> 200 +202 + 200 + 200 total
Scraping page 3
   ---> 300 +303 + 300 + 300 total
Scraping page 4
   ---> 400 +404 + 400 + 400 total
Scraping page 5
   ---> 500 +505 + 500 + 500 total
Scraping page 6
   ---> 600 +606 + 600 + 600 total
Scraping page 7
   ---> 700 +707 + 700 + 700 total
Scraping page 8
   ---> 800 +808 + 800 + 800 total
Scraping page 9
   ---> 900 +909 + 900 + 900 total
Scraping page 10
   ---> 1000 +1010 + 1000 + 1000 total
Scraping page 11
   ---> 1100 +1111 + 1100 + 1100 total
Scraping page 12
   ---> 1200 +1212 + 1200 + 1200 total
Scraping page 13
   ---> 1300 +1313 + 1300 + 1300 total
Scraping page 14
   ---> 1400 +1414 + 1400 + 1400 total
Scraping page 15
   ---> 1500 +1515 + 1500 + 1500 total
Scraping page 16
   ---> 1600 +1616 + 1600 + 1600 total
Scraping page 17
   ---> 1700 +1717 + 1700 + 1700 total
Scraping page 18
   ---> 1800 +1818 + 1800 + 1800 total
Scraping page 19
   ---> 1900 +1919 + 1900 + 1900 total
Scraping page 20
   ---> 2000 +2020 + 2000 + 2000 total

In [3]:
# Rating diff by on top overall +1 each page

len(rating), len(reviews), len(date), len(country)

(2020, 2000, 2000, 2000)

In [6]:
# Rating removing
new_rating = [] 
for i in range(len(rating)-1):
    i+=1
    if rating[i] == '\n\t\t\t\t\t\t\t\t\t\t\t\t\t5':
        continue
    else:
        new_rating.append(rating[i])
len(new_rating)

2000

In [7]:
#Tạo bảng cho dataframe mới
df = pd.DataFrame({"reviews":reviews,"ratings": new_rating, "date":date, "country": country})
df.head()

,reviews,ratings,date,country
0,Not Verified | We were flying World Traveller...,2,14th March 2023,United Kingdom
1,Not Verified | This was literally one of the ...,1,13th March 2023,Ireland
2,✅ Trip Verified | The usual shambolic unfoldi...,1,12th March 2023,United Kingdom
3,Not Verified | Lost my case and took 6 weeks ...,2,12th March 2023,United Kingdom
4,✅ Trip Verified | The incoming and outgoing f...,1,10th March 2023,United Kingdom

In [6]:
#df.to_csv("E:/learn st new/BA_reviews2.csv")

## Clean dữ liệu
---

In [8]:
review2 = []
x = '|'
for i in range(0, 2000):
    if x in reviews[i]:
        review2.append(reviews[i])
    else:
        review2.append(str(x +' '+ reviews[i]))
len(review2)

2000

In [9]:
df2 = pd.DataFrame({"reviews":review2,"ratings": new_rating, "date":date, "country": country})
df2.head()

,reviews,ratings,date,country
0,Not Verified | We were flying World Traveller...,2,14th March 2023,United Kingdom
1,Not Verified | This was literally one of the ...,1,13th March 2023,Ireland
2,✅ Trip Verified | The usual shambolic unfoldi...,1,12th March 2023,United Kingdom
3,Not Verified | Lost my case and took 6 weeks ...,2,12th March 2023,United Kingdom
4,✅ Trip Verified | The incoming and outgoing f...,1,10th March 2023,United Kingdom

In [10]:
review_clean = df2.reviews.str.split('|', expand=True)[1]
df2['clean_review'] = review_clean

In [11]:
df2['verified'] = df2.reviews.str.contains("Trip Verified")

In [12]:
import re

def clean(text):
    text = re.sub('[^A-Za-z]+', ' ', str(text))
    return text

df2['Cleaned Reviews'] = df2['clean_review'].apply(clean)

In [13]:
df2.date= pd.to_datetime(df2.date)
df2.head()

,reviews,ratings,date,country,clean_review,verified,Cleaned Reviews
0,Not Verified | We were flying World Traveller...,2,2023-03-14,United Kingdom,We were flying World Traveller Plus their Pr...,False,We were flying World Traveller Plus their Pre...
1,Not Verified | This was literally one of the ...,1,2023-03-13,Ireland,This was literally one of the worst experien...,False,This was literally one of the worst experienc...
2,✅ Trip Verified | The usual shambolic unfoldi...,1,2023-03-12,United Kingdom,The usual shambolic unfolding that BA has no...,True,The usual shambolic unfolding that BA has now...
3,Not Verified | Lost my case and took 6 weeks ...,2,2023-03-12,United Kingdom,Lost my case and took 6 weeks to locate it a...,False,Lost my case and took weeks to locate it and ...
4,✅ Trip Verified | The incoming and outgoing f...,1,2023-03-10,United Kingdom,The incoming and outgoing flight was delayed...,True,The incoming and outgoing flight was delayed ...

## Tokenize Dữ liệu và Enrichment – POS tagging
---
Tokenization nhằm đưa câu phức thành những nhóm những từ đơn giản

Pos Tag == đưa dữ liệu vào nhóm (tên + tag) mà vẫn giữ được context của từ

In [14]:
import nltk
from nltk.tokenize import word_tokenize
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.corpus import wordnet

In [15]:
##This punkt tokenizer divides a text into a list of sentences by using an unsupervised algorithm to build a model for abbreviation words, collocations, and words that start sentences
nltk.download('punkt')

#The nltk.corpus package defines a collection of corpus reader classes, which can be used to access the contents of a diverse set of corpora.
nltk.download('omw-1.4')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\OS\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\OS\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\OS\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [16]:
# POS tagger dictionary
pos_dict = {'J':wordnet.ADJ, 'V':wordnet.VERB, 'N':wordnet.NOUN, 'R':wordnet.ADV}
def token_stop_pos(text):
    tags = pos_tag(word_tokenize(text))
    #print(tags)
    newlist = []
    for word, tag in tags:
        if word.lower() not in set(stopwords.words('english')):
          newlist.append(tuple([word, pos_dict.get(tag[0])]))
    return newlist 

df2['POS tagged'] = df2['Cleaned Reviews'].apply(token_stop_pos)
df2.head()

,reviews,ratings,date,country,clean_review,verified,Cleaned Reviews,POS tagged
0,Not Verified | We were flying World Traveller...,2,2023-03-14,United Kingdom,We were flying World Traveller Plus their Pr...,False,We were flying World Traveller Plus their Pre...,"[(flying, v), (World, n), (Traveller, n), (Plu..."
1,Not Verified | This was literally one of the ...,1,2023-03-13,Ireland,This was literally one of the worst experien...,False,This was literally one of the worst experienc...,"[(literally, r), (one, None), (worst, a), (exp..."
2,✅ Trip Verified | The usual shambolic unfoldi...,1,2023-03-12,United Kingdom,The usual shambolic unfolding that BA has no...,True,The usual shambolic unfolding that BA has now...,"[(usual, a), (shambolic, n), (unfolding, v), (..."
3,Not Verified | Lost my case and took 6 weeks ...,2,2023-03-12,United Kingdom,Lost my case and took 6 weeks to locate it a...,False,Lost my case and took weeks to locate it and ...,"[(Lost, v), (case, n), (took, v), (weeks, n), ..."
4,✅ Trip Verified | The incoming and outgoing f...,1,2023-03-10,United Kingdom,The incoming and outgoing flight was delayed...,True,The incoming and outgoing flight was delayed ...,"[(incoming, n), (outgoing, v), (flight, n), (d..."

## Bỏ Stopwords + Thêm stem words
--- 
* Stopwords là những từ đơn giản nên rất khó để đưa ra thông tin hữu ích. Vì vậy nên cần xử lý để chuyển các stopwords thành chuỗi có ý nghĩa bằng việc loại bỏ các từ không cần thiết bằng Lemma

In [17]:
# Obtaining the stem words – Lemmatization

from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()
def lemmatize(pos_data):
    lemma_rew = " "
    for word, pos in pos_data:
     if not pos:
        lemma = word
        lemma_rew = lemma_rew + " " + lemma
     else:
        lemma = wordnet_lemmatizer.lemmatize(word, pos=pos)
        lemma_rew = lemma_rew + " " + lemma
    return lemma_rew

df2['Lemma'] = df2['POS tagged'].apply(lemmatize)
df2.head()

,reviews,ratings,date,country,clean_review,verified,Cleaned Reviews,POS tagged,Lemma
0,Not Verified | We were flying World Traveller...,2,2023-03-14,United Kingdom,We were flying World Traveller Plus their Pr...,False,We were flying World Traveller Plus their Pre...,"[(flying, v), (World, n), (Traveller, n), (Plu...",fly World Traveller Plus Premium service Pre...
1,Not Verified | This was literally one of the ...,1,2023-03-13,Ireland,This was literally one of the worst experien...,False,This was literally one of the worst experienc...,"[(literally, r), (one, None), (worst, a), (exp...",literally one bad experience airport since b...
2,✅ Trip Verified | The usual shambolic unfoldi...,1,2023-03-12,United Kingdom,The usual shambolic unfolding that BA has no...,True,The usual shambolic unfolding that BA has now...,"[(usual, a), (shambolic, n), (unfolding, v), (...",usual shambolic unfold BA unfortunately come...
3,Not Verified | Lost my case and took 6 weeks ...,2,2023-03-12,United Kingdom,Lost my case and took 6 weeks to locate it a...,False,Lost my case and took weeks to locate it and ...,"[(Lost, v), (case, n), (took, v), (weeks, n), ...",Lost case take week locate still reply week ...
4,✅ Trip Verified | The incoming and outgoing f...,1,2023-03-10,United Kingdom,The incoming and outgoing flight was delayed...,True,The incoming and outgoing flight was delayed ...,"[(incoming, n), (outgoing, v), (flight, n), (d...",incoming outgo flight delay French Air Traff...

In [17]:
!pip install vaderSentiment

Requirement already satisfied: vaderSentiment in d:\python\lib\site-packages (3.3.2)
Requirement already satisfied: requests in d:\python\lib\site-packages (from vaderSentiment) (2.28.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\python\lib\site-packages (from requests->vaderSentiment) (1.26.15)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\python\lib\site-packages (from requests->vaderSentiment) (3.1.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\python\lib\site-packages (from requests->vaderSentiment) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in d:\python\lib\site-packages (from requests->vaderSentiment) (3.4)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [18]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()


# function to calculate vader sentiment
def vadersentimentanalysis(review):
    vs = analyzer.polarity_scores(review)
    return vs['compound']

df2['Sentiment'] = df2['Lemma'].apply(vadersentimentanalysis)

# function to analyse
def vader_analysis(compound):
    if compound >= 0.5:
        return 'Positive'
    elif compound < 0 :
        return 'Negative'
    else:
        return 'Neutral'
df2['Analysis'] = df2['Sentiment'].apply(vader_analysis)
df2.head()

,reviews,ratings,date,country,clean_review,verified,Cleaned Reviews,POS tagged,Lemma,Sentiment,Analysis
0,Not Verified | We were flying World Traveller...,2,2023-03-14,United Kingdom,We were flying World Traveller Plus their Pr...,False,We were flying World Traveller Plus their Pre...,"[(flying, v), (World, n), (Traveller, n), (Plu...",fly World Traveller Plus Premium service Pre...,-0.89570,Negative
1,Not Verified | This was literally one of the ...,1,2023-03-13,Ireland,This was literally one of the worst experien...,False,This was literally one of the worst experienc...,"[(literally, r), (one, None), (worst, a), (exp...",literally one bad experience airport since b...,-0.83160,Negative
2,✅ Trip Verified | The usual shambolic unfoldi...,1,2023-03-12,United Kingdom,The usual shambolic unfolding that BA has no...,True,The usual shambolic unfolding that BA has now...,"[(usual, a), (shambolic, n), (unfolding, v), (...",usual shambolic unfold BA unfortunately come...,-0.42150,Negative
3,Not Verified | Lost my case and took 6 weeks ...,2,2023-03-12,United Kingdom,Lost my case and took 6 weeks to locate it a...,False,Lost my case and took weeks to locate it and ...,"[(Lost, v), (case, n), (took, v), (weeks, n), ...",Lost case take week locate still reply week ...,-0.39030,Negative
4,✅ Trip Verified | The incoming and outgoing f...,1,2023-03-10,United Kingdom,The incoming and outgoing flight was delayed...,True,The incoming and outgoing flight was delayed ...,"[(incoming, n), (outgoing, v), (flight, n), (d...",incoming outgo flight delay French Air Traff...,-0.92430,Negative